# Using Pandas to Calculate Statistics in Python

### Performing various complex statistical operations in python can be easily reduced to single line commands using pandas. We will discuss some of the most useful and common statistical operations in this video

In [2]:
import pandas as pd

dataset = pd.read_csv(r'framingham.csv')
dataset.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [7]:
# Calculate Mean of 'age' column
mean = dataset['age'].mean()
 
# Print mean
print(mean)

49.58018867924528

In [8]:
# Calculate Median of 'age' column
median = dataset['age'].median()
 
# Print median
print(median)

49.0

In [9]:
# Calculate Mode of 'Sex' column
mode = dataset['age'].mode()
 
# Print mode
print(mode)

0    40
dtype: int64

In [10]:
# Calculate Count of 'age' column
count = dataset['age'].count()
 
# Print count
print(count)

4240

In [11]:
# Calculate Standard Deviation
# of 'Fare' column
std = dataset['age'].std()
 
# Print standard deviation
print(std)

8.57294217547335

In [13]:
# Calculate Maximum value in 'Age' column
maxValue = dataset['age'].max()
 
# Print maxValue
print(maxValue)

70

In [14]:
# Calculate Minimum value in 'Age' column
minValue = dataset['age'].min()
 
# Print  MinValue
print(minValue)

32