# Constructing dataframes

### Pandas DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is generally the most commonly used pandas object. 
### Pandas DataFrame can be created in multiple ways. Letâ€™s discuss different ways to create a DataFrame one by one.

#### Creating Pandas DataFrame from lists of lists.

In [1]:
# Import pandas library
import pandas as pd
 
# initialize list of lists
data = [['tom', 10], ['nick', 15], ['juli', 14]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])
 
# print dataframe.
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

#### Creating DataFrame from dict of narray/lists

In [2]:
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.
 
import pandas as pd
 
# initialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

#### Creates a indexes DataFrame using arrays.

In [3]:
# Python code demonstrate creating
# pandas DataFrame with indexed by
 
# DataFrame using arrays.
import pandas as pd
 
# initialise data of lists.
data = {'Name':['Tom', 'Jack', 'nick', 'juli'],
        'marks':[99, 98, 95, 90]}
 
# Creates pandas DataFrame.
df = pd.DataFrame(data, index =['rank1',
                                'rank2',
                                'rank3',
                                'rank4'])
 
# print the data
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

#### Creating Dataframe from list of dicts

In [4]:
# Python code demonstrate how to create
# Pandas DataFrame by lists of dicts.
import pandas as pd
 
# Initialise data to lists.
data = [{'a': 1, 'b': 2, 'c':3},
        {'a':10, 'b': 20, 'c': 30}]
 
# Creates DataFrame.
df = pd.DataFrame(data)
 
# Print the data
df

    a   b   c
0   1   2   3
1  10  20  30